data_preprocess/beijing/preprocessed_data/road_trajectory_adj_matrix
data_preprocess/xian/preprocessed_data/dist_matrix.pkl
data_preprocess/xian/preprocessed_data/sim_matrix.pkl
data_preprocess/beijing/preprocessed_data/sim_matrix.pkl
data_preprocess/beijing/preprocessed_data/road_adj_matrix